name: Run Update All Members

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Run update script
        env:
          MEMBERS_API: ${{ secrets.MEMBERS_API }}
        run: |
          mkdir -p attacks
          python3 update_all_members.py

      - name: Commit attacks folder
        run: |
          git config --global user.name "Github Actions"
          git config --global user.email "actions@github.com"
          git add attacks/*.json
          git commit -m "Update attacks JSON" || echo "No changes to commit"
          git push
